<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.varun.omvishnu.app"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/dashavatharam"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".home.TiledHomeScreen"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".detail.ShlokaSlideActivity"
            android:label="@string/app_name"
            android:parentActivityName=".home.TiledHomeScreen"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.TiledHomeScreen"/>
        </activity>

        <activity
            android:name=".detail.SahasranamaShlokaSlideActivity"
            android:label="@string/app_name"
            android:parentActivityName=".home.TiledHomeScreen"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.TiledHomeScreen"/>
        </activity>

        <activity
            android:name=".detail.BirthstarsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".home.TiledHomeScreen"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.TiledHomeScreen"/>
        </activity>

        <activity
            android:name=".detail.AvatarasActivity"
            android:label="@string/app_name"
            android:parentActivityName=".home.TiledHomeScreen"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.TiledHomeScreen"/>
        </activity>

        <activity
            android:name=".detail.ThousandNamesActivity"
            android:label="@string/app_name"
            android:parentActivityName=".home.TiledHomeScreen"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.TiledHomeScreen"/>
        </activity>

        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".home.TiledHomeScreen"
            android:uiOptions="splitActionBarWhenNarrow">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".home.TiledHomeScreen"/>
        </activity>

    </application>

</manifest>
